{
  "comments": false,
  "sourceMaps": "both",
  "plugins": [
    "source-map-support",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-export-default-from"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ]
}
